<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
<div class="container-fluid">
    <div class="row" id="header_top">
        <div class="col-xs-12 col-sm-6">
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a>
                <a onclick="openNav()"><fa name="bars" size="lg"></fa></a>
            </nav>
        </div>
        <div class="col-xs-12 col-sm-6">
        	<ul class="top_nav_right">
            	<li><fa name="question-circle"></fa></li>
            	<li><fa name="home"></fa></li>
            	<li><form class="form-inline my-2 my-lg-0">
                	<input class="form-control mr-sm-2 top_inpt" type="text" placeholder="Search CyberRadar" aria-label="Search">
                    <fa name="search" class="top_search"></fa>
                    </form>
                 </li>
             	<li><fa name="cog"></fa></li>
             	<li><fa name="bell"></fa></li>
             	<li><fa name="star"></fa></li>
             	<li><fa name="user-circle"></fa></li>
             </ul>
        </div>
    </div>
</div>
