/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
#header_top {
    background-color: #2a3f54 !important;
}
#header_top .fa {
    color: #0f89c1;
	cursor:pointer;
	font-size:20px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
ul.top_nav_right{
	padding:20px 0px 0px 0px;
	margin:0;
	list-style:none;
	text-align:right;
}
ul.top_nav_right li{
	display:inline-block;
	padding-right:20px;
	    vertical-align: middle;
}
ul.top_nav_right li:last-child{
	padding-right:0;
}
.form-inline{
	position:relative;	
}
.top_search{
	position:absolute;
	left:10px;
}
.top_search i{
	font-size:15px !important;
}
.top_inpt{
	padding: 0px 0px 0px 30px;
    width: 275px !important;
    height: auto;
    border-radius: 50px;
}
/*Page start*/
.search_nav{
	padding:25px 0px;
}
.form-search-inline{
	position:relative;	
	text-align: center;
}
.side_search{
	position: absolute;
    left: 2.3em;
    top: 0.1em;
    color: #666666d4;
}
.side_search i{
	font-size:15px !important;
}
.side_main_search{
	padding: 0px 0px 0px 30px;
    height: auto;
    border-radius: 50px;
	border: 1px solid #000;
}
.search_nav_left_top{
	background:#2a3f54;
}
.navbar{
	padding-left:0;
}
ul[role="tree"] {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 120%;
}

[role="treeitem"].doc:before {
    content: url(assets/images/file.png);
}

[role="treeitem"][aria-expanded="false"] > ul {
  display: none;
}

[role="treeitem"][aria-expanded="true"] > ul {
  display: block;
}

[role="treeitem"][aria-expanded="false"] > span:before {
  content: url(assets/images/closed.png);
}

[role="treeitem"][aria-expanded="true"] > span:before {
  content: url(assets/images/open.png);
}

[role="treeitem"],
[role="treeitem"] span {
  width: 9em;
  margin: 0;
  padding: 0;
  border: 2px transparent solid;
  padding: 0.125em;
  display: block;
}

/* disable default keyboard focus styling for treeitems
   Keyboard focus is styled with the following CSS */
[role="treeitem"]:focus {
  outline: 0;
}


[role="treeitem"].focus,
[role="treeitem"] span.focus {
  border-color: black;
  background-color: #EEEEEE;
}

[role="treeitem"].hover,
[role="treeitem"] span:hover {
  background-color: #DDDDDD;
}

/*Page wrap*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}













@media only screen and (max-width: 767px) {
.form-inline .top_inpt {
    width: 170px !important;
}
.side_search {
    left: 4.3em !important;
}
.search_nav {
    padding: 10px 0px !important;
}
.top_nav_right li {
    padding-right: 9px !important;
}
ul.top_nav_right {
	text-align: center !important;
}

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
ul.top_nav_right li {
    padding-right: 10px;
}
.top_inpt {
	width: 200px !important;
}
}